################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Cryptography/obj
/.vs/Cryptography
/CriptoForms/obj
/.vs/ProjectEvaluation
/CriptoForms/bin/Debug/net6.0-windows
/Cryptography/bin/Debug/net6.0
